.lista{
    display: flex;
    flex-direction: column;

}

.btn-danger{
    display: flex;
    width: 40px;
    align-self: flex-end;
    border-radius: 100px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .11), 0 9px 10px 0 rgba(0, 0, 0, .08);
}

.listaciudad{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    text-align: right;

}

.listaciudad ul{
    list-style: none;
}
.listaciudad ul li{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 3px 0px;
    background-color: var(--azul-oscuro);
    color: var(--azullogo);
    border-bottom: 1px dashed #ccc;
}

.tope{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-size: cover;
}

@media(max-width:768px){
    .listaciudad{
        display: flex;
        width: 84vw;
    
    }

    .listaciudad ul li{
        width: 80vw;
    }

    .lista {    
        width: 90vw;
    }
}