.searchgroup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.searchgroup input{
    width: 200px;
    border-radius: 40px;
    height: 40px;
    background-color: var(--azul-claro);
    color: var(--azullogo);
    border-color: transparent;
}

.searchgroup ::placeholder{
    color: var(--azullogo);
}

.input-group-append{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchgroup .btn{
    border-radius: 100px;
    height: 40px;
}

.circle{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    /* width: max-content; */
    color: var(--azullogo);
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

.list ul li{
    background-color: var(--azul-oscuro); 
    margin-bottom: 1px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s ease-out;
}
.list ul li:hover{
    background-color: var(--azul-claro); 
}