@charset "UTF-8";

/* CSS Document */


/*Author: Malcolm cordova @malcolmcordova mercadocreativo@gmail.com www.malcolmcordova.com*/

.BannPpal {
    position: relative;
    z-index: 2;
}

.BannPpal1 {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}


/*--BannPpal1::before {
    content: "";
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    position: absolute;
    background: -moz-linear-gradient(top, rgba(53, 55, 168, 0) 0%, rgba(53, 55, 168, 0.23) 31%, rgba(53, 55, 168, 0.33) 45%, rgba(53, 55, 168, 0.65) 89%, rgba(53, 55, 168, 1) 100%);

    background: -webkit-linear-gradient(top, rgba(53, 55, 168, 0) 0%, rgba(53, 55, 168, 0.23) 31%, rgba(53, 55, 168, 0.33) 45%, rgba(53, 55, 168, 0.65) 89%, rgba(53, 55, 168, 1) 100%);

    background: linear-gradient(to bottom, rgba(53, 55, 168, 0) 0%, rgba(53, 55, 168, 0.23) 31%, rgba(53, 55, 168, 0.33) 45%, rgba(53, 55, 168, 0.65) 89%, rgba(53, 55, 168, 1) 100%);
}

*/

.texto {
   position: fixed;
    z-index: 99999;
    top: 30px;
    left: auto;
    width: 300px;
    float: right;
    right: 3%;
    height: auto;
    display: flex;
    grid-template-columns: 31% 1fr;
    grid-template-rows: 80px 50px;
    background-color: var(--azul-oscuro);
    border-radius: 18px;
    padding: 10px;
    transition: all .5s ease-out;
    animation-delay: 2s;
    border: 1px solid #232323;
}


.texto h1 {
    display: flex;
    flex-direction: column;
    font-size: 19px;

}
.texto h2 {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 2 / 3 / 3;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.texto img {
    width: 70%;
    height: auto;
    margin: 20px auto;
    display: block;
}

.texto .logo {
    width: 160px;
    top: 80px;
    left: 0%;
    position: relative;
    margin-bottom: 5px;
    border-radius: 120px;
}

.texto .logo img {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.texto .logo2 {
    width: 140px;
    top: 0px;
    left: 0%;
    position: relative;
    transition: .5s all ease-out;
}

.sli .logo img {
    border-radius: 120px;
}

.texto1 {
    opacity: 0;
}

.texto-banner p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.texto-banner h1 {
    font-weight: bolder;
    text-transform: uppercase;
}

@media (min-width:769px) {
    .BannPpal1 {
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        background-attachment: fixed;
    }
    .texto .partner {
        width: 160px;
        top: 80px;
        left: 0%;
        position: relative;
        margin-bottom: 5px;
    }
    .texto-banner {
        position: relative;
        top: 90px;
        left: 0px;
        color: #fff;
        text-shadow: none;
    }
    .texto-banner h1 {
        font-size: 100px;
    }
    .texto .logo {
        width: 230px;
        top: 50px;
        left: 0%;
        position: relative;
        margin-bottom: 5px;
    }
    .texto-banner h1 {
        font-size: 60px;
        margin: 0;
        padding: 0;
    }
    .texto-banner h2 {
        font-size: 50px;
        margin: 0;
        padding: 0;
    }
}

@media (max-width:768px) {
    .texto {
        width: auto;
        right: 10%;
        top: 140px;
    }
    .texto .logo {
        width: 50%;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .texto-banner h1 {
        font-size: 44px;
    }
    .texto .logo2 {
        width: 90px;
        top: 0px;
        left: 0%;
        position: relative;
    }
    .texto .partner {
        width: 60%;
        height: 34px;
        margin: 0 auto;
        margin-bottom: 40px;
        position: relative;
        top: 80px;
    }
    .BannPpal1 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: var(--fondo);
    }
    
}

@media (min-width: 1600px) {
    .texto-banner h1 {
        font-size: 90px;
    }
}

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.slide .carousel-indicators li {
    color: #234090;
}

.slide .carousel-indicators {
    bottom: -40px !important;
    border-color: #234090 !important;
}

.slide ol li {
    border-color: deepskyblue;
}

.slide .carousel-indicators .active {
    background-color: #234090;
}

@media only screen and (max-device-width: 590px) {
    .BannPpal1 {
        height: 100vh;
    }
    .texto-banner {
        margin-top: 240px;
        margin-left: 0px;
    }
    .texto .logo {
        box-shadow: none;
    }
}


/* -- iphone 5--*/

@media only screen and (min-device-width: 300px) and (max-device-width: 320px) and (orientation: portrait) {
    .BannPpal1 {
        height: 100vh;
    }
    .texto-banner {
        margin-top: 240px;
    }
}


/* -- iphone 6 --*/

@media only screen and (min-device-width: 650px) and (max-device-width: 700px) and (orientation: landscape) {
    .texto {
        top: 50px;
    }
    .texto .logo {
        margin-bottom: 30px;
    }
    .texto .tipo {
        margin-bottom: 26px;
    }
    .texto .logo2 {
        top: 12px;
    }
    .texto-banner {
        margin-top: 0px;
        margin-left: 200px;
    }
    .texto .logo {
        width: 160px;
        top: 50px;
        left: 0%;
        position: relative;
        margin-bottom: 5px;
        border-radius: 120px;
        margin: inherit;
        box-shadow: none;
    }
    .texto-banner h1 {
        font-size: 39px;
    }
}


/* -- iphone 6 plus--*/

@media only screen and (min-device-width: 400px) and (max-device-width: 420px) and (orientation: portrait) {
    .BannPpal1 {
        height: 740px;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 740px) and (orientation: landscape) {
    .texto {
        top: 50px;
    }
    .texto .logo {
        margin-bottom: 30px;
    }
    .texto .tipo {
        margin-bottom: 26px;
    }
    .BannPpal1 {
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 990px) and (orientation: portrait) {
    .texto {
        top: 50px;
    }
    .texto .logo {
        margin-bottom: 50px;
    }
    .texto .tipo {
        margin-bottom: 26px;
    }
}

.mouseicon {
    width: 40px;
    height: 60px;
    border-radius: 16px;
    border: 2px solid #ffffff;
    position: absolute;
    bottom: 100%;
    top: auto;
    left: 50%;
    z-index: 99;
}

.mouseicon,
.mouseicon:before {
    position: absolute;
    left: 50%
}

.mouseicon {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 80%;
    margin-top: 0px;
    box-shadow: inset 0 0 0 1px #ffffff;
    border-radius: 25px;
}

.mouseicon:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #ffffff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(46px)
    }
}

@media only screen and (max-width: 600px) {
    .mouseicon {
        display: none;
    }
}

@media only screen and (min-device-width: 650px) and (max-device-width: 700px) and (orientation: landscape) {
    .mouseicon {
        display: none;
    }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 740px) and (orientation: landscape) {
    .mouseicon {
        display: none;
    }
}