

.degrade{
   background: #1F233B;
background: radial-gradient(circle,rgba(31, 35, 59, 1) 0%, rgba(31, 35, 59, 1) 43%, rgba(22, 25, 42, 1) 100%);
}

.fondo{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
}
.fodo_cruces{
    background-image: url('../svg/cruces.svg');
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    
}
.bordes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}
.border_top{
    background-image: url('../svg/topG.svg');
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover;
    width: calc(100% - 20px);
    height: 43px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    animation-delay: 2s;
    transition-timing-function: ease-in;

}
.border_rigth{
    background-image: url('../svg/rightG.svg');
    background-repeat: no-repeat;
    width: 82px;
    height: calc(87vh - 20px);
    float: right;
    background-position: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    animation-delay: 2.2s;
    transition-timing-function: ease-in;
}
.border_left{
    background-image: url('../svg/leftG.svg');
    background-repeat: no-repeat;
    width: 82px;
    height: calc(87vh - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    animation-delay: 2.5s;
    transition-timing-function: ease-in;
}
.border_button{
    background-image: url('../svg/buttonG.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
     background-size: cover;
    width: calc(100% - 20px);
    height: 43px;
     margin-right: 5px;
    margin-left: 5px;
    transition: all 0.3s ease-in-out;
    animation-delay: 2.4s;
    transition-timing-function: ease-in;
     

    
}

.icono_vela{
    background-image: url('../svg/icon_vela.svg');
    background-repeat: no-repeat;
    width:43px;
    height: 43px;
    position: relative;
    z-index: 12;
}

.menu_completo{
    /* background-image: url('../svg/menu.svg'); */
    background-repeat: no-repeat;
    position: absolute;
    z-index: 15;
    top: auto;
    bottom: 20px;
    float: right;
    right: 0px;
    display: flex;
    opacity: 0.3;
    cursor: pointer;
    /* width: 752px; */
    height: 33px;
    animation-delay: 3s;
    
}

.menu_completo ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.menu_completo ul li{
    
    color: var(--azullogo);
    background-color: var(--azul-oscuro-transparente);
    padding: 10px;
    border-radius: 14px;
    border-bottom: 1px solid rgba(60, 59, 59, 0.407);
    transition-timing-function: ease-in;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);

    
}

.menu_completo ul li a{
    transition: all 1s ease;

    -webkit-animation-name: uplight;
    animation-name: uplight;
    animation: uplight 1s 1 ease;
    -webkit-animation: uplight 1s 1 ease;
}
.menu_completo ul li a:hover{
    text-decoration: none;
    transition: all 1s ease;
    color: var(--fondopage);
    text-shadow: 2px 2px 4px rgba(207, 206, 206, 0.6), -2px -2px 4px rgba(207, 206, 206, 0.6);
}

@keyframes uplight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  90% {
    opacity: 1;
    color: white;
    text-shadow: 2px 2px 4px rgba(207, 206, 206, 0.6), -2px -2px 4px rgba(207, 206, 206, 0.6);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.info-logo{
    position: absolute;
    z-index: 6;
    top: auto;
    left: calc(47.3%);
    bottom: 70px;
    display: flex;
    gap: 10px;
    opacity: 1;
    cursor: pointer;
    animation-delay: 2s;
    transition-timing-function: ease-in;
    padding: 10px;
    border-radius: 10px;
    
    
}
.info-logo:hover{
    opacity: 0.9;
}
.img-logo{
    width: 50px;
    height: 50px;
    animation-delay: 1s;
    transition-timing-function: ease-in;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.img-logo img{
    width: 220px;
    height: auto;
    margin: auto;
    animation-delay: 1s;
    transition-timing-function: ease-in;
    /* filter: drop-shadow(0px 0px 10px #dfdfdf);; */
  

}
.info-logo .inf h1{
    font-family: var(--font-family);
    color: white;
    margin: 0;
    padding: 0;
    animation-delay: 4s;
    transition-timing-function: ease-in;
}
.info-logo .inf p{
    font-family: var(--font-family);
    color: white;
    margin: 0;
    padding: 0;
    animation-delay: 4.5s;
    transition-timing-function: ease-in;
}
 

.mapa{
    width: 100%;
    height: calc(100vh - 20px);
    margin-top: -10px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 3;
    left: calc(0%);

    
}
@media (max-width:768px) {
.menu_completo {
    z-index: 15;
    bottom: 40px;
    float: left;
    left: 15%;
    right: auto;
}

.info-logo{
    left: 40px
}

.img-logo img{
    width: 130px;

}

.border_top,
.border_button{
    background-size: contain;

}
}

@media (max-width:668px) and (max-height:381px) {
    .menu_completo {
        z-index: 15;
        bottom: 20px;
        float: left;
        left: auto;
        right: 20px;
    }
    .info-logo{
        left: calc(9%);
        bottom: 10px;
    }
   
}



@media (min-width:1100px) {
    .border_top{
        background-position: center;
        background-size: contain;

    }

    .border_button{
        background-position: center bottom;
        background-size: contain;
    }

    .menu_completo{
        bottom: 70px;
        right: calc(100px);
        
    }
}



@media (min-width:1200px) {
    
}

@media (min-width:1300px) {
     .border_top{
        background-position: center;
        background-size: contain;

    }

    .border_button{
        background-position: center bottom;
        background-size: contain;
    }
}

@media (min-width:1400px) {

    .border_top{
    background-position: center;
     background-size: contain;

    }

    .border_button{
        background-position: center bottom;
        background-size: contain;
    }

    .menu_completo{
        bottom: 20px;
        right: calc(100px);
        
    }
    
}

@media (min-width:1600px) {
     .border_top{
        background-position: center;
        background-size: cover;

    }

    .border_button{
        background-position: center bottom;
        background-size: cover;
    }

    .menu_completo{
        bottom: 70px;
        right: calc(90px);
        
    }

    .info-logo{
    bottom: 110px;
}
}


