@charset "UTF-8";

/* CSS Document */


/*Author: Malcolm Córdova @malcolmcordova mercadocreativo@gmail.com www.malcolmcordova.com*/


.contenedor {
    padding: 60px 0px;
    height: auto;
    min-height: 100vh;
    color: #333;
}


.listado {

    padding: 30px;
    height: 70vh;
    width: 30vw;
    min-height: 0vh;
    background-color: var(--azul-oscuro-transparente);
    color: var(--azullogo);
    border-radius: 0px  18px 18px 0px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
    position: absolute;
    top: auto;
    bottom: 5%;
    display: flex;
    transition: .5s all ease-out;
    transform: translate(0px, 0px);
    z-index: 99;
    overflow: hidden;
    overflow: clip;
    overflow-clip-margin:border-box ;
    overflow-y: scroll;

}


.indicaciones{
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    display: flex;
    background: #d7d7d7;
    width: 30vw;
    flex-direction: column;
    padding: 20px;
    border-radius: 0px 50px 0px 0px;
}



.logomove{
    width: 80px !important;
    top: 0px;
    left: 0%;
    position: relative;
    transition: .5s all ease-out;
    transform: translate(110px, -30px);
    /* background: #fff; */
    border-radius: 100px;
    padding: 10px;
}

@media (max-width:768px){
    .indicaciones{
        bottom: -50px;
        opacity: .5;
        width: 60vw;
    }
    .listado {
        padding: 30px;
        height: calc(80vh);
        width: 90vw;
    }

    .logomove {
        width: 60px !important;
        padding: 10px;
    }
}

.listado .row {
    margin-bottom: 40px;
}

.listado-inicio {
    padding: 0px;
    height: 0px;
    top: 0;
}

.cuadroicon {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    min-height: 150px;
    margin-bottom: 30px;
}

.icon {
    padding-top: 30px;
    padding-bottom: 20px;
}

.icon img {
    width: 30px;
    display: block;
    margin: 0 auto;
}

.marketing p,
.final .info2 p,
.listado p,
.web .info2 p {
    font-size: 14px;
}

@media(max-width:768px) {
    
    .icon-info .info-icon p {
        font-size: 16px;
        color: #000;
    }
    .listado {
        padding: 30px 15px;
    }
}

@media(min-width:769px) {
    
}

@media(min-width:1600px) {
    .listado {
        top: 220px;
    }
}

.cp_oculta {
    display: none;
}


/*---modales---*/

.modal .modal-header {
    background-color: var(--morado);
}

.modal .modal-header h5 {
    border-left: 4px solid #fff;
    padding-left: 10px;
    color: #fff;
    font-size: 20px;
}

.modal .modal-body ul {
    padding-left: 20px;
}

.modal-header .close {
    margin-top: -34px;
}
