.tituloSlide h1 {
    text-align: center;
    position: absolute;
    z-index: 9999;
    left: calc(40%);
    top: 40%;
    font-size: 80px;
}

.news {
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.news img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.news h1 {
    color: var(--azul);
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.news h3 {
    color: var(--azullogo);
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.news p {
    color: #333;
    font-size: 16px;
}