
.areamapa svg {
    width: 100vw;
    height: 100%;
    transform: scale(.9);
    left: calc(3%);
    top: calc(0%);
    position: relative;
}

.land {
    fill: #43537B;
    fill-opacity: 1;
    stroke: #1e88cf;
    stroke-opacity: 1;
    stroke-width: 0.5;
    cursor: pointer;
    stroke-linejoin: round;
    transform: scale3d(1, 1, 1);
    transform-box: fill-box;
    transform-origin: center;
    transition: all .3s ease;
}

.land:hover {
    fill: #edfb59;
    stroke: #eef1a2;
    transform: scale3d(1.02, 1.02, 1.02);
    transform-box: fill-box;
    transform-origin: center;
    transition: all .3s ease;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.land:active,
.activo {
    fill: #0071BA;
}

.isVisible {
    fill: #0071BA;
}

.noVisible {
    fill: #43537B;
}

.areamapa {
    height: 100vh;
    width: 100%;
    top: 0;
    left: auto;
    right: 0px;
    background: transparent;
    overflow: hidden;
}

.areamapa::before {
    content: '';
    background: transparent;
    height: 100vh;
    width: 100%;
    top: 0;
    left: auto;
    right: 0px;
}

svg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width:668px) {
    .areamapa {
        width: 100vw;
        height: 100vh;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .areamapa svg {
        transform: scale(0.9);
        left: 0;
        top: 0%;
        overflow-x: scroll;
        overflow-y: scroll;
        width: 270%;
    }
}

/* 
@media (max-width:668px) and (max-height:381px) {
     .areamapa {
        width: 100vw;
        height: 100vh;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .areamapa svg {
        transform: scale(0.9);
        left: 0%;
        top: 0%;
        overflow-x: scroll;
        overflow-y: scroll;
        width: 270%;
        transform: scale(.5);
        top: calc(-18%);
    }
} */

@media (min-width:669px) {}

@media (min-width:1024px) {}

@media (min-width:1200px) {
    .areamapa svg {
        transform: scale(.9);
        left: 12%;
        top: 0%;
    }
}

@media (min-width:1300px) {
    .areamapa svg {
        transform: scale(1);
        left: 12%;
        top: calc(10%);
    }
}

@media (min-width:1400px) {
    .areamapa svg {
        transform: scale(1);
        left: calc(15%);
        top: calc(5%);
    }
}

@media (min-width:1600px) {
    .areamapa svg {
        transform: scale(1);
        left: calc(26%);
        top: calc(16%);
    }
}

@media (min-width:1800px) {
    .areamapa svg {
        transform: scale(1.4);
        left: calc(33%);
        top: calc(24%);
    }
}

.paisies {
    height: 100px;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
}