<!-- <app-slider></app-slider> -->
<!-- <app-video></app-video> -->

<section class="fondo degrade animated fadeInBig">
    <div class="fodo_cruces">
        <div class="bordes">
            <div class="border_top animated fadeInDown"></div>
            <div class="border_rigth animated fadeInRight"></div>
            <div class="border_left animated fadeInLeft"></div>
            <div class="border_button animated fadeInUp"></div>
        </div>
        <div class="container">
            <a routerLink="/" >
                <div class="info-logo ">
                    <div class="img-logo animated fadeInBig">
                        <img src="assets/img/Nbel1.png" alt="logo el nobel">
                    </div>
                    <!-- <div class="inf animated fadeInLeft">
                        <h1>EL NOBEL</h1>
                        <p>es nuestro</p>
                    </div> -->
                </div>

            </a>
            <div class="menu_completo animated fadeInUp">
                <ul>
                    <li ><a (click)="abrirModalInfo()" ><i class="fa fa-download"></i> Descarga </a></li>
                    <li ><a (click)="abrirModalVideo()"><i class="fa fa-youtube-play"></i> Video</a></li>
                    <li ><a (click)="abrirModalContact()"> <i class="fa fa-envelope"></i> Contacto</a></li>
                    <!-- <li ><a href="#sli3">Map</a></li>
                     -->
                </ul>
            </div>
            <div class="mapa animated fadeIn">
                <!-- <div class="icono_vela"></div> -->
                <app-mapa></app-mapa>

            </div>
        </div>

    </div>
</section>


<!---modulo lateral-->
<section class="listado sli flex hom displayNonehome ">
    <div class="container">
        <!-- ============================================================== -->
        <!-- Informacion  -->
        <!-- ============================================================== -->
        <div class="row">
            <div ngclass="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <div class="m-r-20 "></div>
                            <div class="align-self-center">

                                <app-lista-paises></app-lista-paises>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!---// modulo lateral-->

<!-- modalinfo -->

<div class="modaldescarga animated fadeIn" *ngIf="mostrarinfo" (click)="closemodalInfo()"> 
    <div class="cerrarinfo">
        <span class="closeinfo" (click)="closemodalInfo()">&times;</span>
    </div>
    <div class="contenido_modalinfo">
        <div class="border_top animated fadeInDown"></div>
        <div class="infocontain">
            <h2>Descarga el material completo del evento</h2>
        <p>Muy pronto, podrás descargar  todos los recursos relacionados con el evento "El Nobel es Nuestro". Esto incluye videos, imágenes, documentos y más.</p>
        </div>
        <!-- <a href="assets/material/ElNobelEsNuestro_MaterialCompleto.zip" download>
            <button class="btn_descargar">Descargar Material</button>
        </a> -->
        <div class="border_button animated fadeInUp"></div>
    </div>
</div>
<!-- modalinfo -->


<!-- modalvideo -->
 <div class="modaldescarga animated fadeIn" (click)="closemodalVideo()" *ngIf="mostrarvideo"> 
    <div class="cerrarinfo">
        <span class="closeinfo" (click)="closemodalVideo()">&times;</span>
    </div>
    <div class="contenido_modalinfo">
        <div class="border_top animated fadeInDown"></div>
        <div class="infocontain">

            <h2>Videos</h2>
            <p>Muy pronto.</p>
        </div>
        
        <div class="border_button animated fadeInUp"></div>
    </div>
</div>
<!-- modalvideo -->
<!-- modalcontact -->
 <div class="modaldescarga animated fadeIn" (click)="closemodalContact()" *ngIf="mostrarcontact"> 
    
    <div class="cerrarinfo">
        <span class="closeinfo" (click)="closemodalContact()">&times;</span>
    </div>
    <div class="contenido_modalinfo">
        <div class="border_top animated fadeInDown"></div>
        <div class="infocontain">
            <h2>Info de Contacto</h2>
            <p>Muy pronto.</p>

        </div>
        
        <div class="border_button animated fadeInUp"></div>
    </div>
</div>
<!-- modalcontact -->

<!-- <div class="indicaciones">
    <h1>Indicaciones</h1>
                <p>Para obtener más información sobre los eventos, haga clic en los paises marcados</p>
                <p>{{ year }} Sin Mordaza Org. | All Rights Reserved</p>
</div> -->


<script>
    //info lateral
    $(document).ready(main);

    function main() {
        $('#paperRegions').hide();
    }
</script>