.displayBlokhome {
    display: block;
}

.displayNonehome {
    display: flex;
    transform: translate(-680px, 0px);
}


.modaldescarga{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.cerrarinfo{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    /* color: white; */
    cursor: pointer;
    z-index: 11;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-claro);
    color: var(--azullogo);
}

.contenido_modalinfo{
    width: 80%;
    height: 80%;
    background: var(--azul-oscuro);
    color: var(--azullogo);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-y: auto;
}
